<h1>Get the latest dev-job-listings in:</h1>
<ul>
  <%= link_to "Austin", jobs_path %>
  <li>Austin, TX</li>
  <li>Boston, MA</li>
  <li>Denver/Boulder, CO</li>
  <li>Los Angeles, CA</li>
  <li>New York, NY</li>
  <li>GIVE ME ALL THE JOBS IN ALL THE PLACES</li>
</ul>