/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */


 body {
  font-family: monospace;
 }

.site-logo {
  font-weight: bold;
  text-shadow: 0.5px 0.5px;
  padding-top: 10px;
}

.main-header {
  margin-left: 15px;
  width: 320px;
  padding-bottom: 10px;
  border-bottom-style: double;
  margin-bottom: 30px;  
}

#homepage-row {
  margin: 10px;
}
#second-row-cities {
  align-content: center;
}
.homepage-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
}

.homepage-card:hover {
  box-shadow: 0 4px 8px 0 #E6AF2E, 0 6px 20px 0 gray;
}

.jobs-list-header-title {
  margin-left: 15px;
  width: 300px;
  padding-bottom: 10px;
  border-bottom-style: double;
  margin-bottom: 30px;
  display: inline-block;
}

.city-img {
  display: inline-block;  
  margin-left: 10px;
}

.row {
  margin: auto;
}

.card {
  background-color: #A0B2A6;
  border: 1px solid #E6AF2E;
  height: 250px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 20px;
}
.card:hover{
  box-shadow: 0 4px 8px 0 #E6AF2E, 0 6px 20px 0 #E6AF2E;
}

.save-hide-buttons {
  width: 40px;
  float: right;
  margin-right: -10px;
  poistion: relative;
}

.save-button {
  color: white;
  background-color: black;
  border-radius: 5px;
  font-size: 11px;
  padding: 4px;
  opacity: 0.8;
  margin-bottom: 3px;
}

.hide-button {
  color: white;
  background-color: black;
  border-radius: 5px;
  font-size: 11px;
  padding: 4px;
  opacity: 0.8;
}

.save-button:hover {
  color: red;
}
.hide-button:hover {
  color: red;
}
.card-title {
  padding-top: 5px;
}
.card-title a {
  color: #213F5F;
  margin: auto;
}
.bars {
  color: #213F5F;
  font-size: 20px;
  padding-left: 3px;
  padding-right: 3px;
}
.company-info {
  color: #fff;
}
.post-description {
  padding: 5px;
  color: #E0E2DB;
}